extends ../layout

block content
  table(class="table")
   thead
    tr
      th id
      th first name
      th last name
      th active
      th &nbsp;
   tbody
    each customer in customers
      tr
        td= customer.customer_id
        td= customer.first_name
        td= customer.last_name
        td= customer.active
        td
          a(class="btn btn-primary mx-1" href="/customers/"+customer.customer_id) Detail
          a(class="btn btn-primary mx-1") Edit
          a(class="btn btn-danger mx-1") Delete