extends layout

block header
  include header

block content
  .card.shadow-sm
    .card-header.bg-white.d-flex.justify-content-between.align-items-center
      h5.mb-0.text-primary Project Epics & User Stories
    .card-body.bg-white
      .mb-4
        h5.fw-semibold.mb-2
          i.bi.bi-lightbulb.me-2.text-primary
          | Epic 1: Als medewerker wil ik klanten kunnen aanmaken, bekijken, bijwerken en verwijderen zodat ik hun gegevens correct en up-to-date kan houden.
        p.text-muted.mb-1 Deze user stories horen bij bovenstaande epic:
        ul.list-group.list-group-flush
          li.list-group-item Als medewerker wil ik gegevens van een klant kunnen wijzigen zodat informatie up-to-date blijft.
          li.list-group-item Als medewerker wil ik klantgegevens kunnen opzoeken zodat ik snel informatie heb over hun profiel
          li.list-group-item Als medewerker wil ik een nieuwe klant kunnen aanmaken zodat deze films kan huren.
          li.list-group-item Als medewerker wil ik een klant kunnen verwijderen zodat ik onnodige of verouderde klantrecords kan verwijderen.
      .mb-4
        h5.fw-semibold.mb-2
          i.bi.bi-rocket-takeoff.me-2.text-success
          | Algemene user stories:
        ul.list-group.list-group-flush
          li.list-group-item Als medewerker wil ik kunnen inloggen in de app zodat ik klanten kan beheren.
          li.list-group-item Als medewerker wil ik films kunnen inzien zodat ik suggesties aan de klant kan doen.
          li.list-group-item Als medewerker wil ik kunnen uitloggen uit de app zodat mijn account veilig blijft en anderen geen toegang hebben tot klantgegevens.

