extends layout

block header
  include header

block content
  .d-flex.justify-content-center.align-items-center.bg-white(style="min-height: 100vh;")
    .text-center
      h1.display-1.text-danger #{error.status || 500}
      h2.text-dark.mt-3 #{message}
